/*
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
*/

.brand {
  font-family: 'Oswald', sans-serif;
}

.brand-color {
  color: white;
}

.light {
  font-weight: 300;
}

p {
  font-family: 'Merriweather', serif;
}

header {
  background-color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #636466;
  display: none;
  position: absolute;
  top: 100%;
  width: 15em;
}

.nav a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.nav a:hover {
  background-color: #444648;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 32px;
  position: absolute;
  right: 25px;
  top: 19px;
  margin: 5px;
  padding: 5px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #636466;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.banner {
  background-image: url(http://placehold.it/350x150);
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  position: inherit;
  float: left;
}
